// widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  #home .lg-heading {
    margin-top: 25vh;
  }
}

// Desktops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm-heading {
    max-width: 500px;
  }
}

// Tablets
@include mediaMd {
  .sm-heading {
    max-width: 50px;
  }

  main {
    // align-items: center;
    // text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    font-size: 24px;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait.jpg");
      background-position-x: -30px;
      background-position-y: -12px;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

//SmallMedium for my Last name
@include mediaSmMd {
  .sm-heading {
    min-width: 465px;
  }
}

// Phones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
    font-size: 4rem;
    font-weight: 400;
  }
  main#home h2 {
    font-size: 1.3rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  .sm-heading {
    max-width: 311px;
    min-width: 310px;
  }
}
