// widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
  #home .lg-heading {
    margin-top: 25vh;
  }
}

// Desktops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm-heading {
    max-width: 500px;
  }
}

//MediumLarge for my Last name
@include mediaMdLg {
  h2.sm-heading {
    min-width: 495px;
    max-width: 496px;
  }
}
// Tablets
@include mediaMd {
  main {
    //not sure if these 2 are better with or without
    align-items: center;
    text-align: center;
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    font-size: 22px;
    font-weight: 300;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url("../img/portrait.jpg");
      background-position-x: -30px;
      background-position-y: -12px;
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

// Phones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
    font-size: 4rem;
    font-weight: 400;
  }
  main#home h2 {
    font-size: 1.3rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }

  h2.sm-heading {
    max-width: 351px;
    min-width: 350px;
    // background-color: red;
  }

  .nav-link {
    font-size: 20px;
  }
}

// Xs Phones
@include mediaXs {
  h2.sm-heading {
    max-width: 261px;
    min-width: 260px;
  }
  main#home h1 {
    margin-top: 20vh;
    font-size: 3rem;
    font-weight: 100;
  }
  main#home h2 {
    font-size: 1.3rem;
  }
}
